<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button mode="ios"></ion-menu-button>
        </ion-buttons>
    <ion-title>Group 5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ng-binding list card vb-expl text-justify"  mode="ios">

        <div class="item item-text-wrap" >
          <div class="item-content" >
            How to know if a verb belongs to <span class="verb-termination">Verbityyppi 5</span> ?
          </div>
        </div>
    
        <div class="item item-text-wrap" >
          <div class="item-content" >
            <p >
              <br>
              It groups all the verbs ending in the following way :
              -<b class="underlined">ita</b>/-<b class="underlined">itä</b>
              <br>
            </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Explanation
          </div>
        </div>
      </ion-card>
    
      <p class="tabbed">
        Following is a conjugation example with the verb <span class="verb-stem">häir<span class="underlined">it</span></span><span class="underlined"><b>ä</b></span> (to disturb) :
        <br><br><span class="basic-underlined">Present tense</span>: <b>drop</b> the <b class="underlined">a</b>/<b class="underlined">ä</b> and add <span class="verb-stem">se</span> + add the <span class="verb-termination">termination</span> <i>. For 3rd pers. sing.</i>: <span class="underlined-spe-term verb-termination">double the e</span>
      </p>
      <br>
    
      <ion-card class="ng-binding list card"  mode="ios">
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-2 "><div class="centered-text"><span class="bold-italic">Singular</span></div></div>
            <div class="cell cell-1-2"><div class="centered-text"><span class="bold-italic">Plural</span></div></div>
          </div>
          <br>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Minä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">häiritse</span><span class="verb-termination">n</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">häiritse</span><span class="verb-termination">mme</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sinä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">häiritse</span><span class="verb-termination">t</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">häiritse</span><span class="verb-termination">tte</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän/Se</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">häirits<span class="underlined-spe-term">e</span></span><span class="underlined-spe-term"><span class="verb-termination">e</span></span></div></div>
            <div class="cell cell-1-4"><div class="right-text">He/Ne</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">häiritse</span><span class="verb-termination">vät</span></div></div>
          </div>
    
        </div>
        <br>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Verb conjugation example
          </div>
        </div>
      </ion-card>
</ion-content>
