

ion-toolbar{
    --background: rgb(56, 126, 245) !important;
    --color: white !important;
        // --background: var(--ion-toolbar-background,var(--ion-color-step-50,rgb(206, 73, 73)));
    }

    ion-menu-button{
        --color: white !important;
    }

    .item p {
        color: #000000;
        font-size: 0.8rem;
    }

    .tabbed {
        padding-left: 1em;
        padding-right: 1em;
        font-size: 0.9rem;
        padding: 0 15px 0 25px;
    }

    .sc-ion-card-ios-h{
        color: black !important;
    }
    .sc-ion-card-ios-h{
        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.1);
    }

    .btn-style{
        padding: 5px 5px 5px 5px;
        border: 1px solid!important;
        border-color: rgb(10, 168, 231) !important;
        background: transparent !important;
        color: rgb(10, 168, 231) !important;
        border-radius: 5px !important;
         
    }
    ion-label{
        height: 50px !important; 
        // border: 1px solid !important;
        font-weight: 400 !important;
        // padding: 1px 5px 5px 10px !important;
    }
    .input-wrapper{
        margin-bottom: -35px;
    }
    .btn-style{
        padding: 5px 5px 5px 5px;
        border: 1px solid!important;
        border-color: rgb(10, 168, 231) !important;
        background: transparent !important;
        color: rgb(10, 168, 231) !important;
        border-radius: 5px !important;
     
    }
    .ion-padding-start, [padding-start] {
        padding-left: unset;
        -webkit-padding-start: var(--ion-padding, 16px);
        padding-inline-start: var(--ion-padding, 236px);
    }
    .list{
        margin-top: -38px;
    }
    button:active {
        border-style: inset;
        background: blue !important;
        -webkit-transition: top 0.09s ease-in !important;
    }

//     .list-ios.list-inset {
//     margin-left: 16px;
//     margin-right: 16px;
//     margin-top: 16px;
//     margin-bottom: 0px !important;
//     border-radius: 4px;
// }

.search-item {
    padding: 10px 0 10px;
     border-bottom: 1px #dedede !important; 
}
.list-ios.list-inset {
    --border-width: 0 0 1px 0;
    --inner-border-width: 0;
    margin-bottom: 20px;
}