.btn{
    width: 100px !important;
    height: 50px !important;
    background: rgb(56, 126, 245) !important;
    color: white !important;
    margin-bottom: 20px;
    /* padding: 0 0 0px 0 !important; */
    font-size: medium !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}