

<ion-content padding >
  <ion-col center text-center>
    <img class="finnco_img_popup center" src="../../../../../assets/img/finnco.png" alt="Finnco">
  </ion-col>

  <div class="finnco_desc_popup">
    <p>
      I'm Finnco your new learning companion. I'm here to assist you along the way.
      I prove to be especially useful when studying or in class. I'm sure you know that situation
      when you're working on an exercise and don't have time to check the conjugation or declination rules :).
      Well that's when I come in play !
      <br><br>
      In <b>Finnco: Present & Verb Groups</b> you can find the group of a verb and check how it conjugates
      in the present tense. Do not hesitate to use the left menu. It contains a lot of rules I have compiled
      for you !
    </p>
  </div>

</ion-content>

<ion-footer>
    <button ion-button (click)="close()" class="center btn">Awesome</button>
</ion-footer>
