
ion-toolbar{
    --background: rgb(56, 126, 245) !important;
    --color: white !important;
        // --background: var(--ion-toolbar-background,var(--ion-color-step-50,rgb(206, 73, 73)));
    }

    ion-menu-button{
        --color: white !important;
    }

    .item p {
        color: #000000;
        font-size: 0.8rem;
    }

    .tabbed {
        padding-left: 1em;
        padding-right: 1em;
        font-size: 0.9rem;
        padding: 0 15px 0 25px;
    }

    .sc-ion-card-ios-h{
        color: black !important;
    }
    .sc-ion-card-ios-h{
        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.1);
    }

    .btn-style{
        padding: 5px 5px 5px 5px;
        border: 1px solid!important;
        border-color: rgb(10, 168, 231) !important;
        background: transparent !important;
        color: rgb(10, 168, 231) !important;
        border-radius: 5px !important;
         
    }

    .ex-buttons {
        background-color: rgb(56, 126, 245);
        color: white !important;
        font-size: x-large;
        margin-bottom: 20%;
        padding: 8vmin;
        border-radius: 7px;
    }

    .false{
        -webkit-transition: var(--background) 0.4s !important;
        background-color: #c57373 !important;
        color: white !important;
    }
    .true{
        -webkit-transition: var(--background) 0.2s !important;
        background-color: #73ca64 !important;
        color: white !important;
    }

    .row-style{
        text-align: center !important;
    }
    .btn-style{
    color: blue;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid;
    // display: flex !important;
        // float: right !important;

    // padding: 10px 10px 10px 10px;
}
    .ion-padding-start, [padding-start] {
        padding-left: unset;
        -webkit-padding-start: var(--ion-padding, 16px);
        padding-inline-start: var(--ion-padding, 270px);
    }
    .button-outline-ios {
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: #387ef5;
        color: #387ef5;
        background-color: transparent;
    }
    .button-ios {
        border-radius: 4px;
        height: 2.8em;
        font-size: 1.6rem;
        color: #fff;
        background-color: #387ef5;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }
    .button {
        text-align: center;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        z-index: 0;
        display: inline-block;
        text-overflow: ellipsis;
        text-transform: none;
        white-space: nowrap;
        cursor: pointer;
        vertical-align: top;
        vertical-align: -webkit-baseline-middle;
        -webkit-transition: background-color, opacity 100ms linear;
        transition: background-color, opacity 100ms linear;
        -webkit-font-kerning: none;
        font-kerning: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        contain: content;
    }
    ion-buttons button, ion-buttons a, ion-buttons input, ion-buttons textarea, ion-buttons div {
        pointer-events: auto;
    }
    button {
        border: 0;
        font-family: inherit;
        font-style: inherit;
        font-variant: inherit;
        line-height: 1;
        text-transform: none;
        cursor: pointer;
        -webkit-appearance: button;
    }
    a[disabled], button[disabled], [ion-button][disabled] {
        cursor: default;
        opacity: .4;
        pointer-events: none;
    }
    a[disabled], button[disabled], html input[disabled] {
        cursor: default;
    }

    
    ion-back-button{
        --color: white !important;
    }
    // .fill:active {
        
    //     background: blue;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     top: 100%;
    //     z-index: -1;
    //     -webkit-transition: top 0.09s ease-in;
    //   }
      button:active {
        border-style: inset;
        background: blue !important;
        -webkit-transition: top 0.09s ease-in !important;
    }
    button {
        padding: 1px 6px;
    }
  
    // .ion-padding-start1, [padding-start] {
    //     padding-left: unset;
    //     -webkit-padding-start: var(--ion-padding, 16px);
    //     padding-inline-start: var(--ion-padding, 115px);
    // }
    .sc-ion-buttons-md-h {
        display: -ms-flexbox;
        display: flex !important;
        float: right !important;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 99;
    }
    .sc-ion-buttons-ios-h{
        float: right !important;
    }
    .slide{
        text-align: center;
    display: block;
    width: 100%;
    }

    .md .swiper-slide .swiper-zoom-container .hydrated .swiper-slide-active{
        width: 100 !important;
    }
    ion-slide{
        width: 100 !important;
    }