<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button mode="ios"></ion-menu-button>
        </ion-buttons>
    <ion-title><b>Exceptions</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ng-binding list card"  mode="ios">
        <br>
        <div class="tabbed text-justify">
          In Finnish, there are a few verbs that are irregular in a certain tense. These verbs are : <b>olla</b>, <b>tehdä</b>, <b>nähdä</b>, <b>keritä</b> and <b>lohkoa</b>
          <br>
        </div>
        <br>
      </ion-card>
    
      <div class="grid tabbed">
        <div class="row">
          <div class="cell cell-1-2 "><div class="centered-text"><span class="bold-italic">Singular</span></div></div>
          <div class="cell cell-1-2"><div class="centered-text"><span class="bold-italic">Plural</span></div></div>
        </div>
      </div>
      <ion-card class="ng-binding list card"  mode="ios">
    
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Minä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">ole</span><span class="verb-termination">n</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">ole</span><span class="verb-termination">mme</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sinä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">ole</span><span class="verb-termination">t</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">ole</span><span class="verb-termination">tte</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän/Se</div></div>
            <div class="cell cell-1-4"><span class="left-text"><span class="verb-termination">on</span></span></div>
            <div class="cell cell-1-4"><div class="right-text">He/Ne</div></div>
            <div class="cell cell-1-4"><span class="left-text"><span class="verb-termination">ovat</span></span></div>
          </div>
    
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Olla (to be)
          </div>
        </div>
      </ion-card>
      <ion-card class="ng-binding list card"  mode="ios">
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Minä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">tee</span><span class="verb-termination">n</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">tee</span><span class="verb-termination">mme</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sinä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">tee</span><span class="verb-termination">t</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">tee</span><span class="verb-termination">tte</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän/Se</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">teke</span><span class="verb-termination">e</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">He/Ne</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">teke</span><span class="verb-termination">vät</span></div></div>
          </div>
    
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Tehdä (to do/make)
          </div>
        </div>
      </ion-card>
    
      <ion-card class="ng-binding list card"  mode="ios">
    
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Minä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">näe</span><span class="verb-termination">n</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">näe</span><span class="verb-termination">mme</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sinä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">näe</span><span class="verb-termination">t</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">näe</span><span class="verb-termination">tte</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän/Se</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">näke</span><span class="verb-termination">e</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">He/Ne</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">näke</span><span class="verb-termination">vät</span></div></div>
          </div>
    
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Nähdä (to see)
          </div>
        </div>
      </ion-card>
    
      <ion-card class="ng-binding list card"  mode="ios">
    
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Minä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">kerkiä</span><span class="verb-termination">n</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">kerkiä</span><span class="verb-termination">mme</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sinä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">kerkiä</span><span class="verb-termination">t</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">kerkiä</span><span class="verb-termination">tte</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän/Se</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">kerkiä</span><span class="verb-termination">ä</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">He/Ne</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">kerkiä</span><span class="verb-termination">vät</span></div></div>
          </div>
    
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Keritä (to make it on time) - irregular because it can also be conjugated kerkeän, kerkeät, ...
          </div>
        </div>
      </ion-card>
    
      <ion-card class="ng-binding list card"  mode="ios">
    
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Minä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">lohko</span><span class="verb-termination">n</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">lohko</span><span class="verb-termination">mme</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sinä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">lohko</span><span class="verb-termination">t</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">lohko</span><span class="verb-termination">tte</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän/Se</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">lohko</span><span class="verb-termination">o</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">He/Ne</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">lohko</span><span class="verb-termination">vat</span></div></div>
          </div>
    
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Lohkoa (to cut up) - irregular because there is no consonant gradation
          </div>
        </div>
      </ion-card>
</ion-content>
