<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button mode="ios"></ion-menu-button>
        </ion-buttons>
    <ion-title>To Have</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ng-binding list card"  mode="ios">
        <br>
    
        <div class="tabbed text-justify">
          In Finnish, <b>expressing the possession</b> is not done by using a specific verb.
          Instead you need to put the <b>subject</b> in the <span class="verb-termination"> adessive case</span> and use the verb <span class="verb-stem">olla</span> at the <span class="verb-stem">3rd person singular</span>.
          Literally, it would mean something like "on me there is" but do not consider this too much.
          <br>
        </div>
        <br>
      </ion-card>
    
      <div class="grid tabbed">
        <div class="row">
          <div class="cell cell-1-2 "><div class="centered-text"><span class="bold-italic">Singular</span></div></div>
          <div class="cell cell-1-2"><div class="centered-text"><span class="bold-italic">Plural</span></div></div>
        </div>
      </div>
      <ion-card class="ng-binding list card"  mode="ios">
    
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Min<span class="verb-termination">u<span class="underlined">lla</span></span></div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">on</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me<span class="verb-termination">i<span class="underlined">llä</span></span></div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">on</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sin<span class="verb-termination">u<span class="underlined">lla</span></span></div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">on</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te<span class="verb-termination">i<span class="underlined">llä</span></span></div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">on</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän<span class="verb-termination">e<span class="underlined">llä</span></span>/S<span class="verb-termination">i<span class="underlined">llä</span></span></div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">on</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">He<span class="verb-termination">i<span class="underlined">llä</span></span>/N<span class="verb-termination">i<span class="underlined">llä</span></span></div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">on</span></div></div>
          </div>
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            -lla olla (to have) - present tense
          </div>
        </div>
      </ion-card>
    
      <ion-card class="ng-binding list card"  mode="ios">
        <br>
    
        <div class="tabbed">
          -<b><span class="underlined">lla</span> olla</b> is also used in some unexpected example for English speakers :
          <br>
          <br> Min<span class="verb-termination">u<span class="underlined">lla</span></span> <span class="verb-stem">on</span> nälkä &emsp; - &emsp; I am hungry
          <br> Sin<span class="verb-termination">u<span class="underlined">lla</span></span> <span class="verb-stem">on</span> kylmä &emsp; - &emsp; You are cold
          <br> Hän<span class="verb-termination">e<span class="underlined">llä</span></span> <span class="verb-stem">on</span> jano &emsp;  - &emsp; He/she is thirsty
          <br>
        </div>
        <br>
      </ion-card>
</ion-content>
