<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button mode="ios"></ion-menu-button>
        </ion-buttons>
    <ion-title>Negative Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ng-binding list card"  mode="ios">
        <br>
        <div class="tabbed text-justify">
          In Finnish, the <b>negative form</b> is a distinguished verb form. Unlike in many languages, the <span class="verb-termination">negative word (verb) conjugates</span> and <b>not the verb in itself</b> which will keep a stable form according to the tense. In present, you can form it by taking the <span class="verb-stem">first person of the positive form</span>, for instance <b>tulen</b> (I come), and <span class="verb-stem">removing the </span><b class="underlined">n</b>. Our negative stem would then be : <span class="verb-stem">tule</span>.
          <br>This rule applies for <b>any verb</b>. Following is an example on how you would conjugate <b>tulla</b>
          <br>
        </div>
        <br>
      </ion-card>
    
      <div class="grid tabbed">
        <div class="row">
          <div class="cell cell-1-2 "><div class="centered-text"><span class="bold-italic">Singular</span></div></div>
          <div class="cell cell-1-2"><div class="centered-text"><span class="bold-italic">Plural</span></div></div>
        </div>
      </div>
      <ion-card class="ng-binding list card"  mode="ios">
    
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Minä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">en</span> <span class="verb-stem">tule</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">emme</span> <span class="verb-stem">tule</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sinä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">et</span> <span class="verb-stem">tule</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">ette</span> <span class="verb-stem">tule</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän/Se</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">ei</span> <span class="verb-stem">tule</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">He/Ne</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">eivät</span> <span class="verb-stem">tule</span></div></div>
          </div>
    
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Tulla (to come) - negative present
          </div>
        </div>
      </ion-card>
    
      <p class="tabbed text-justify">
        In the case of <b>to have</b>, it would follow the same principle considering the specificities mentioned in the "To have" section:
      </p>
    
      <ion-card class="ng-binding list card"  mode="ios">
    
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Min<b>ulla</b></div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">ei</span> <span class="verb-stem">ole</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me<b>illä</b></div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">ei</span> <span class="verb-stem">ole</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sin<b>ulla</b></div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">ei</span> <span class="verb-stem">ole</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te<b>illä</b></div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">ei</span> <span class="verb-stem">ole</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän<b>ellä</b>/S<b>illä</b></div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">ei</span> <span class="verb-stem">ole</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">He<b>illä</b>/N<b>illä</b></div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">ei</span> <span class="verb-stem">ole</span></div></div>
          </div>
    
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            -lla olla (to have) - negative present
          </div>
        </div>
      </ion-card>
</ion-content>
