.item-detail-icon {
    color: var(--detail-icon-color);
    font-size: var(--detail-icon-font-size);
    opacity: var(--detail-icon-opacity);
    display: none !important;
}
.icon-inner{
    display: none !important;
}
.s-ion-icon{
    display: none !important;
}
.item-detail-icon .ios .hydrated{
    display: none !important;
  }
  .icon-inner, svg {
    display: none !important;
    height: 0% !important;
    width: 0% !important;    
}
.md .title-md .hydrated{
    height: 58px !important;
  }