<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><b>Group 4</b></ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ng-binding list card vb-expl text-justify"  mode="ios">

        <div class="item item-text-wrap" >
          <div class="item-content" >
            How to know if a verb belongs to <span class="verb-termination">Verbityyppi 4</span> ?
          </div>
        </div>
    
        <div class="item item-text-wrap" >
          <div class="item-content" >
            <p >
              <br>
              It groups all the verbs ending in the following way :
              -<b class="underlined">Vta</b>/-<b class="underlined">Vtä</b>.
              However, ~80% of the verbs ending in -ita/itä and -eta/etä are part of the 5th and 6th group
              <br>
            </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Explanation
          </div>
        </div>
      </ion-card>
    
      <p class="tabbed">
        Following is a conjugation example with the verb <span class="verb-stem">hal</span><span class="underlined"><span class="verb-stem">u</span><b class="underlined">t</b><span class="verb-stem">a</span></span> (to want) :
        <br><br><span class="basic-underlined">Present tense</span>: <b>drop</b> the <b class="underlined">t</b> + add the <span class="verb-termination">termination</span> <i>. For 3rd pers. sing.</i>: <span class="underlined-spe-term verb-termination">add a or ä</span>
      </p>
      <br>
    
      <ion-card class="ng-binding list card"  mode="ios">
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-2 "><div class="centered-text"><span class="bold-italic">Singular</span></div></div>
            <div class="cell cell-1-2"><div class="centered-text"><span class="bold-italic">Plural</span></div></div>
          </div>
          <br>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Minä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">halua</span><span class="verb-termination">n</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">halua</span><span class="verb-termination">mme</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sinä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">halua</span><span class="verb-termination">t</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">halua</span><span class="verb-termination">tte</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän/Se</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">halua</span><span class="verb-termination">a</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">He/Ne</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-stem">halua</span><span class="verb-termination">vat</span></div></div>
          </div>
    
        </div>
        <br>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Verb conjugation example
          </div>
        </div>
      </ion-card>
    
      <ion-card class="ng-binding list card"  mode="ios">
    
        <div class="item item-text-wrap" >
          <div class="item-content" >
            <p >
              <br>
              There can be a <b>consonant gradation (type B)</b> for this group in <b><span style="text-decoration:underline;">all the persons</span></b>.
              <br>
              <br><button ion-button (click)="displayMore()" class="btn-style" small color="primary" outline>Display more information</button>
    
          </div>
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Consonant gradation
          </div>
        </div>
      </ion-card>
    
</ion-content>
