
ion-toolbar{
--background: rgb(56, 126, 245) !important;
--height: 10px !important;   
--color: white !important;
    // --background: var(--ion-toolbar-background,var(--ion-color-step-50,rgb(206, 73, 73)));
}