<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button mode="ios"></ion-menu-button>
        </ion-buttons>
    <ion-title>Exercises Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <h1>Verb Groups (new exercises)</h1>

</ion-item>
<ion-item *ngFor="let lesson of lesson_list; let i=index" (click)="goTo(1,lesson,i)">
    <p class="lesson-title"><b>Exercise {{lesson}}</b>
      
        <span class="level-ex ion-padding-start"> medium </span>
    </p>

</ion-item>
<ion-item >
    <h1> Conjugation (new exercises)</h1>

</ion-item>
<ion-item *ngFor="let lesson of lesson_conjug_list; let i=index" (click)="goTo(2,lesson,i)">
    <p class="lesson-title"><b>Exercise {{lesson}}</b>
        <span class="level-ex ion-padding-start"> medium </span>
    </p>
</ion-item>
</ion-content>
