
ion-toolbar{
    --background: rgb(56, 126, 245) !important;
    --color: white !important;
        // --background: var(--ion-toolbar-background,var(--ion-color-step-50,rgb(206, 73, 73)));
    }

    ion-menu-button{
        --color: white !important;
    }