<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button mode="ios"></ion-menu-button>
        </ion-buttons>
    <ion-title><b>Conditional</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ng-binding list card"  mode="ios">
        <br>
        <div class="tabbed text-justify">
          In Finnish, the <b>conditional form</b> is reflected in the verb conjugation. The equivalent of this form in English would be the “would + verb” construction. It is mainly used to express <b>hypothetical ideas</b> but it is also used for <b>questions, wishes, announces, giving advice and polite suggestions</b>.
          <br>
          In present, you can form it by conjugating the verb to the present tense <span class="verb-stem">3rd person plural, removing the <b class="underlined">-vat/vät</b></span> and adding <span class="verb-stem">-isi</span> <b>+</b> <span class="verb-termination">termination</span>.
          <br>
          <br>
          When adding <span class="verb-stem">-isi</span>, there will be the following <b>vowel changes</b> (rule <b>1</b> has the <b>priority</b>):
          <br>
          1) If <b>verbityyppi 3</b> and is composed of <b>2 syllables</b>, <span class="verb-stem">remove first vowel</span> (ex: <b>tuo<span class="verb-stem strikethrough">vat</span> → t<span class="verb-stem"><span class="strikethrough">u</span>oisi</span><span class="verb-termination">n</span></b>)
          <br>
          2) <span class="verb-stem">aaisi</span> → <span class="verb-stem">aisi</span> ; <span class="verb-stem">ääisi</span> → <span class="verb-stem">äisi</span> (ex: <b>huomaa<span class="verb-stem strikethrough">vat</span> → huom<span class="verb-stem"><span class="strikethrough">a</span>aisi</span><span class="verb-termination">n</span></b>)
          <br>
          3) <span class="verb-stem">eisi</span> → <span class="verb-stem">isi</span> ; <span class="verb-stem">iisi</span> → <span class="verb-stem">isi</span> (ex: <b>nouse<span class="verb-stem strikethrough">vat</span> → nous<span class="verb-stem"><span class="strikethrough">e</span>isi</span><span class="verb-termination">n</span></b>)
          <br>
        </div>
        <br>
      </ion-card>
    
      <p class="tabbed text-justify">
        Conjugation <b>examples</b> with the verbs <b>asua</b> and <b>lukea</b>:
      </p>
    
      <div class="grid tabbed">
        <div class="row">
          <div class="cell cell-1-2 "><div class="centered-text"><span class="bold-italic">Singular</span></div></div>
          <div class="cell cell-1-2"><div class="centered-text"><span class="bold-italic">Plural</span></div></div>
        </div>
      </div>
      <ion-card class="ng-binding list card"  mode="ios">
    
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Minä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><b>asu</b><span class="verb-stem">isi</span><span class="verb-termination">n</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me</div></div>
            <div class="cell cell-1-4"><div class="left-text"><b>asu</b><span class="verb-stem">isi</span><span class="verb-termination">mme</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sinä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><b>asu</b><span class="verb-stem">isi</span><span class="verb-termination">t</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te</div></div>
            <div class="cell cell-1-4"><div class="left-text"><b>asu</b><span class="verb-stem">isi</span><span class="verb-termination">tte</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän/Se</div></div>
            <div class="cell cell-1-4"><div class="left-text"><b>asu</b><span class="verb-stem">isi</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">He/Ne</div></div>
            <div class="cell cell-1-4"><div class="left-text"><b>asu</b><span class="verb-stem">isi</span><span class="verb-termination">vat</span></div></div>
          </div>
    
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Asua (to live) - present conditional
          </div>
        </div>
      </ion-card>
    
      <ion-card class="ng-binding list card"  mode="ios">
    
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Minä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><b>luk</b><span class="verb-stem"><span class="strikethrough-table">e</span>isi</span><span class="verb-termination">n</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me</div></div>
            <div class="cell cell-1-4"><div class="left-text"><b>luk</b><span class="verb-stem"><span class="strikethrough-table">e</span>isi</span><span class="verb-termination">mme</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sinä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><b>luk</b><span class="verb-stem"><span class="strikethrough-table">e</span>isi</span><span class="verb-termination">t</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te</div></div>
            <div class="cell cell-1-4"><div class="left-text"><b>luk</b><span class="verb-stem"><span class="strikethrough-table">e</span>isi</span><span class="verb-termination">tte</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän/Se</div></div>
            <div class="cell cell-1-4"><div class="left-text"><b>luk</b><span class="verb-stem"><span class="strikethrough-table">e</span>isi</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">He/Ne</div></div>
            <div class="cell cell-1-4"><div class="left-text"><b>luk</b><span class="verb-stem"><span class="strikethrough-table">e</span>isi</span><span class="verb-termination">vat</span></div></div>
          </div>
    
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Lukea (to read) - present conditional
          </div>
        </div>
      </ion-card>
    
      <p class="tabbed text-justify">
        The <b>negative form</b> also has <b>vowel changes</b>.
      </p>
    
      <ion-card class="ng-binding list card"  mode="ios">
    
        <div class="grid">
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Minä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">en</span> <b>luk</b><span class="verb-stem"><span class="strikethrough-table">e</span>isi</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Me</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">emme</span> <b>luk</b><span class="verb-stem"><span class="strikethrough-table">e</span>isi</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Sinä</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">et</span> <b>luk</b><span class="verb-stem"><span class="strikethrough-table">e</span>isi</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">Te</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">ette</span> <b>luk</b><span class="verb-stem"><span class="strikethrough-table">e</span>isi</span></div></div>
          </div>
          <div class="row">
            <div class="cell cell-1-4 "><div class="right-text">Hän/Se</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">ei</span> <b>luk</b><span class="verb-stem"><span class="strikethrough-table">e</span>isi</span></div></div>
            <div class="cell cell-1-4"><div class="right-text">He/Ne</div></div>
            <div class="cell cell-1-4"><div class="left-text"><span class="verb-termination">eivät</span> <b>luk</b><span class="verb-stem"><span class="strikethrough-table">e</span>isi</span></div></div>
          </div>
    
        </div>
        <div class="card-footer">
          <div class="tmp-ion-footer">
            Lukea (to read) - negative present conditional
          </div>
        </div>
      </ion-card>
</ion-content>
